@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Light.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --dark: #101010;
  --white: #e4e4e4;
  --midgray: #282828;
  --glass: #d1d7dd17;
  --blush-m: #d1b9cd;
  --dark-border: #202020;
  --sky-m: #b9ccd1;
  --skin-m: #d1c3b9;
  --scene-m: #bfd1b9;
}

body {
  background-color: var(--dark);
  color: var(--white);
  cursor: none;
  font-family: Helvetica Now Display, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

h1 {
  color: var(--midgray);
  letter-spacing: -.4rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11.5625rem;
  font-weight: 300;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1;
}

p {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: var(--white);
  cursor: none;
  text-decoration: none;
}

.display-none {
  display: none;
}

.wrapper {
  z-index: 3;
  perspective: 512px;
  cursor: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
  transform: perspective(4000px)perspective(412px);
}

.cube-wrap {
  z-index: 2;
  width: 10em;
  height: 10em;
  font-size: 2vw;
  position: absolute;
}

.cube-wrap.l {
  width: 15em;
  height: 15em;
}

.cube-wrap.s {
  width: 5em;
  height: 5em;
}

.cube-wrap.xs {
  width: 2.5em;
  height: 2.5em;
}

.cube-side {
  border: .1em solid var(--white);
  box-shadow: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.cube-side.bot {
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  transform: rotateX(-90deg)rotateY(0)rotateZ(0);
}

.cube-side.left {
  transform-origin: 0%;
  transform-style: preserve-3d;
  transform: rotateX(0)rotateY(-90deg)rotateZ(0);
}

.cube-side.top {
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  transform: rotateX(90deg)rotateY(0)rotateZ(0);
}

.cube-side._6th {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 10em);
}

.cube-side._6th.m {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 5em);
}

.cube-side._6th.l {
  transform: rotate(0);
}

.cube-side._6th.s {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 2.5em);
}

.cube-side.right {
  transform-origin: 100%;
  transform-style: preserve-3d;
  transform: rotateX(0)rotateY(90deg)rotateZ(0);
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.controls {
  z-index: 5;
  background-color: var(--glass);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  perspective: 512px;
  border-top: 1px solid #fff3;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: .8rem;
  padding-bottom: .8rem;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.button {
  z-index: 5;
  filter: grayscale(75%);
  cursor: none;
  background-color: #0003;
  border: 1px solid #e4e4e466;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  margin-left: .5em;
  margin-right: .5em;
  padding: .5em;
  font-size: 2em;
  transition: box-shadow .4s, background-color .4s, border-color .4s, filter .4s;
  display: flex;
  position: relative;
}

.button:hover {
  filter: grayscale(0%);
  background-color: #fff3;
  border-color: #e4e4e4d9;
  box-shadow: 0 0 20px #fff3;
}

.p-flower {
  font-size: 3em;
}

.ocean {
  z-index: 0;
  background-image: url('../images/1339529866295-min.webp');
  background-position: 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.modifiers {
  z-index: 6;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.background {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.graphite {
  z-index: 1;
  background-image: linear-gradient(#250a0b78, #250a0b78), url('../images/why-am-I-here-min.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.hide {
  display: none;
}

.button-filter {
  background-color: var(--dark);
  letter-spacing: .25rem;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: none;
  border: 1px solid #fff9;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: .625rem;
  font-weight: 300;
  transition: box-shadow .3s, background-color .3s;
  display: flex;
  position: relative;
}

.button-filter:hover {
  background-color: #404040;
  box-shadow: 0 0 20px #fff3;
}

.button-filter:active {
  background-color: var(--white);
  color: var(--dark);
}

.wrapper-kocka {
  perspective: 512px;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, -300px);
}

.hole-wrap {
  z-index: 3;
  cursor: none;
  border: 1px solid #202020;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 30em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.colors {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hole-hide {
  z-index: 5;
  background-color: #101010;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hole {
  z-index: 5;
  border: 70em solid #101010;
  border-radius: 50%;
  min-width: 150em;
  min-height: 150em;
  position: absolute;
}

.gif {
  width: 100%;
  height: 100%;
  position: absolute;
}

.grid-wrap {
  z-index: 1;
  background-color: #000;
  background-image: url('../images/grid-shape-color.svg');
  background-position: 50%;
  background-size: 25%;
  width: 120vw;
  height: 120vh;
  position: fixed;
}

.kocka-wrap {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.button-svg-wrap {
  z-index: 5;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  width: 90%;
  margin-bottom: -15px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  position: absolute;
  bottom: 5vh;
}

.svg-grid {
  z-index: 1;
  border: 1px solid #fff9;
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: 5% 0% 0%;
}

.slide-wrap {
  z-index: 2;
  perspective: 512px;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  transform: none;
}

.button-svg-child {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: .5rem;
  margin-right: 10rem;
  display: grid;
}

.slider-wrap {
  background-color: #0000;
  justify-content: space-around;
  width: 91%;
  height: 91%;
  padding: 1px;
}

.img-child {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.svg-mask-top {
  z-index: 4;
  background-color: var(--dark);
  width: 100vw;
  height: 5%;
  position: absolute;
  inset: 0% 0% auto;
}

.svg-mask-bot {
  z-index: 4;
  background-color: var(--dark);
  width: 100vw;
  height: 5%;
  position: absolute;
  inset: auto 0% 0%;
}

.svg-mask-right {
  z-index: 4;
  background-color: var(--dark);
  width: 5%;
  height: 100vh;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.svg-mask-left {
  z-index: 4;
  background-color: var(--dark);
  width: 5%;
  height: 100vh;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.button-svg-slider {
  background-color: var(--dark);
  letter-spacing: 4px;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid #fff9;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 10px;
  font-weight: 300;
  transition: background-color .2s;
  display: flex;
  position: relative;
}

.button-svg-slider:hover {
  background-color: #272727;
}

.button-svg-slider.arrow-right {
  z-index: 6;
  width: 60px;
  margin-bottom: .5%;
  margin-right: .5%;
  position: absolute;
  inset: auto 16px -17px auto;
}

.button-svg-slider.arrow-left {
  z-index: 6;
  width: 3.75rem;
  margin-bottom: .5%;
  margin-right: .5%;
  position: absolute;
  inset: auto 92px -17px auto;
}

.canvas {
  z-index: 2;
  background-color: var(--dark);
  border: 1px solid #fff9;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  font-size: 10px;
  display: block;
  overflow: hidden;
}

.canvas-wrap {
  perspective: 512px;
  background-color: #e4e4e41a;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  transform: perspective(256px);
}

.think-child {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  display: flex;
}

.h1-ul {
  background-color: #e4e4e466;
  width: 100%;
  height: 1px;
}

.button-filter-wrap {
  z-index: 2;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: -15px;
  left: auto;
  right: auto;
}

.glitch {
  position: relative;
}

.container {
  z-index: 10;
  width: 100%;
  max-width: 75rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 3.5rem 1rem;
}

.hole-wrap-bg {
  z-index: 2;
  filter: blur(50px);
  background-color: #1a2041cc;
  border-radius: 8px;
  width: 30em;
  height: 30em;
  position: absolute;
}

.svg-help {
  z-index: 5;
  background-color: var(--dark);
  letter-spacing: .125rem;
  text-transform: uppercase;
  border: 1px solid #fff9;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-top: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .625rem;
  font-weight: 300;
  transition: background-color .2s;
  display: flex;
  position: absolute;
  top: 5vh;
  left: auto;
  right: auto;
}

.svg-help:hover {
  background-color: #272727;
}

.nav-wrap {
  z-index: 91;
  grid-column-gap: .2rem;
  grid-row-gap: .2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #fff9;
  background-color: #0003;
  border: 1px solid #fff9;
  grid-template-rows: 3rem;
  grid-template-columns: 3rem;
  grid-auto-rows: 3rem;
  grid-auto-columns: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: grid;
  position: relative;
}

.nav-button {
  z-index: 5;
  letter-spacing: 0;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  transition: box-shadow .4s, background-color .4s;
  display: flex;
}

.nav-button:hover {
  background-color: #fff3;
  box-shadow: 0 0 20px #fff3;
}

.nav-root {
  z-index: 90;
  perspective: 512px;
  perspective-origin: 0 0;
  align-items: flex-start;
  width: 7.4rem;
  height: 50%;
  display: flex;
  position: fixed;
  inset: 0% auto auto 0%;
}

.think-wrap {
  z-index: 6;
  text-align: center;
  width: 20rem;
  height: 2.5rem;
  position: relative;
  overflow: hidden;
}

.text-think {
  color: var(--white);
  letter-spacing: 0;
  font-size: .875rem;
  font-weight: 500;
}

.text-think-wrap {
  letter-spacing: 4px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  font-size: .875rem;
  display: flex;
}

.perspective-512 {
  perspective: 512px;
}

.h-100vh {
  height: 100vh;
}

.padding-m {
  padding: 1rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-large {
  margin: 3rem;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.margin-small {
  margin: 1rem;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.margin-tiny {
  margin: .125rem;
}

.padding-right {
  padding: 0 1rem 0 0;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-small {
  padding: 1rem;
}

.padding-xlarge {
  padding: 4rem;
}

.shadow-medium {
  box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d;
}

.padding-xxhuge {
  padding: 12rem;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-huge {
  padding: 6rem;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-xhuge {
  margin: 8rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-medium {
  margin: 2rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-0 {
  padding: 0;
}

.shadow-small {
  box-shadow: 0 6px 12px -2px #32325d40, 0 3px 7px -3px #0000004d;
}

.margin-0 {
  margin: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-large {
  padding: 3rem;
}

.padding-xxsmal {
  padding: .25rem;
}

.margin-xlarge {
  margin: 4rem;
}

.shadow-xlarge {
  box-shadow: 0 30px 60px -30px #0000004d, 0 50px 100px -20px #32325d40;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.shadow-large {
  box-shadow: 0 30px 60px -12px #32325d40, 0 18px 36px -18px #0000004d;
}

.padding-tiny {
  padding: .125rem;
}

.margin-xsmall {
  margin: .5rem;
}

.display-flex {
  display: flex;
}

.display-flex.justify-center {
  justify-content: center;
}

.display-flex.justify-sb {
  justify-content: space-between;
}

.display-flex.align-start {
  align-items: flex-start;
}

.display-flex.dir-vert {
  flex-direction: column;
}

.display-flex.justify-sa {
  justify-content: space-around;
}

.display-flex.align-center {
  align-items: center;
}

.display-flex.align-end {
  align-items: flex-end;
}

.display-flex.justify-end {
  justify-content: flex-end;
}

.glass-backdrop {
  z-index: 1;
  opacity: .2;
  mix-blend-mode: screen;
  background-image: url('../images/dust1-rot.jpg');
  background-position: 50% 59%;
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.glass-backdrop._100h {
  background-size: auto;
}

.pos-rel-2 {
  z-index: 2;
  position: relative;
}

.border-0 {
  border: 0 #000;
}

.canvas-parent {
  z-index: 2;
  background-color: var(--dark);
  border: 1px solid #fff9;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 602px;
  height: 602px;
  font-size: 10px;
  display: flex;
}

.gradient-test {
  background-image: radial-gradient(circle closest-side at 50% 50%, #bd0404ad, var(--glass)), linear-gradient(to right, var(--dark), var(--white));
  filter: blur(200px) contrast(4000%) contrast(4000%);
  width: 50%;
  height: 50%;
  transform: scale(2);
}

.sizing-grow {
  flex: 1;
}

.a-center {
  text-align: center;
}

.lh-1 {
  line-height: 1;
}

.pos-relative {
  position: relative;
}

.pos-relative.z-3 {
  z-index: 3;
}

.pos-relative.z-2 {
  z-index: 2;
}

.bg-dots {
  background-image: url('../images/dotbg1.svg');
  background-position: 4px 4px;
  background-size: contain;
  width: 100%;
  height: 100%;
  animation-name: dots1;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  animation-fill-mode: both;
}

.bg-dots.two {
  background-image: url('../images/dotbg2.svg');
  background-size: contain;
  animation-name: dots2;
  animation-duration: 3.5s;
  position: absolute;
  inset: 0%;
}

.bg-dots._3 {
  background-image: url('../images/dotbg3.svg');
  background-size: contain;
  position: absolute;
  inset: 0%;
}

.bg-dots.three {
  background-image: url('../images/dotbg4.svg');
  background-size: contain;
  animation-name: dots2;
  animation-duration: 3.2s;
  position: absolute;
  inset: 0%;
}

.bg-dots-wrap {
  z-index: 2;
  opacity: 1;
  position: absolute;
  inset: 0%;
}

.bg-dots-overlay {
  z-index: 2;
  position: absolute;
  inset: 0%;
}

.home-overlay {
  z-index: -2;
  opacity: .4;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 0%;
}

.home-overlay.pos-1 {
  z-index: 1;
  opacity: 1;
}

.lizome-splash-logo {
  z-index: 10;
  cursor: crosshair;
  width: 10rem;
  height: 10rem;
  position: relative;
}

.home-logo-shadow {
  z-index: 3;
  opacity: .7;
  color: red;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  width: 10.5rem;
  height: 10.5rem;
}

.home-logo {
  z-index: 3;
  width: 100%;
  height: 100%;
  position: relative;
}

.home-logo-shadow-wrap {
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  display: flex;
  position: absolute;
  inset: -.5rem 0% 0% -.5rem;
}

.t-home-splash {
  background-color: var(--dark);
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  width: 120%;
  height: 2rem;
  display: flex;
  position: absolute;
  inset: 120% 0% 0% -10%;
}

._w-100 {
  width: 100%;
}

.display-block {
  display: block;
}

._w-50 {
  width: 50%;
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.display-inline {
  display: inline;
}

.custom-css {
  position: fixed;
  inset: 0% auto auto 0%;
}

.container-home {
  text-transform: uppercase;
  width: 46.25rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.bg-blush {
  background-color: var(--blush-m);
}

.bg-blush.lighten {
  mix-blend-mode: lighten;
}

.grid-home-info {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr .375fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.bg-midgray {
  background-color: var(--midgray);
}

.p-home {
  text-align: left;
  text-indent: 5.85rem;
}

.c-midgray {
  color: var(--midgray);
}

.grid-home-links {
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.btn {
  padding: 2rem;
  transition: color .3s, background-color .3s;
  position: relative;
}

.btn:hover {
  color: #fff;
}

.btn.btn-wide {
  text-align: left;
  min-width: 23rem;
}

.btn.bg-blush {
  color: var(--midgray);
}

.button-arrow-outer {
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: 2rem;
  bottom: 0%;
  right: 2rem;
}

.button-arrow-wrap {
  justify-content: flex-end;
  align-items: flex-start;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  overflow: hidden;
}

.button-arrow-wrap.rotate {
  transform: rotate(-180deg);
}

.button-arrow-parent {
  justify-content: flex-end;
  min-width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

.button-arrow {
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  display: flex;
}

.button-arrow._2nd {
  position: absolute;
  inset: auto auto 0% 0%;
}

.button-arrow.work {
  width: 1rem;
  height: 1rem;
  transform: translate(-1rem, 1rem);
}

.arrow {
  justify-content: center;
  align-items: center;
  width: .75rem;
  height: .75rem;
  padding-top: 0;
}

.bg-dkgray {
  background-color: #121212;
}

.work-link {
  justify-content: space-between;
  transition: color .3s, background-color .3s;
  display: flex;
  position: relative;
}

.work-link:hover {
  color: #fff;
}

.grid-home-footer {
  grid-template-rows: auto;
  grid-template-columns: 2fr 2.75fr;
  grid-auto-columns: 1fr;
  align-items: center;
  font-size: .75rem;
  font-weight: 500;
  display: grid;
}

.copyright-home {
  margin-bottom: 0;
}

.cursor-wrapper {
  z-index: 200;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  position: fixed;
  inset: 0%;
}

.cursor {
  -webkit-backdrop-filter: invert();
  backdrop-filter: invert();
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
}

.grid-time {
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  white-space: nowrap;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-content: space-between;
  height: 100%;
  font-size: .75rem;
  font-weight: 500;
  display: grid;
}

.blush-abs {
  z-index: -1;
  background-color: var(--blush-m);
  mix-blend-mode: lighten;
  position: absolute;
  inset: 0%;
}

.bg-home-midgray {
  z-index: -1;
  background-color: var(--midgray);
  opacity: .65;
  position: absolute;
  inset: 0%;
}

.wrapper-home {
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
}

.wrapper-home._404 {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

._404-wrap {
  grid-row-gap: 2rem;
  text-align: center;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  max-width: 23rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.padding-footer2, .padding-footer1 {
  padding: 3rem;
}

.t-look {
  max-width: 11.75rem;
}

.btn-text-wrap {
  height: 1rem;
  overflow: hidden;
}

.h1-home {
  line-height: .725;
  position: relative;
  top: -.1875rem;
  left: -.6875rem;
}

.popup-close-bg {
  z-index: 110;
  background-color: #0000004d;
  display: block;
  position: absolute;
  inset: 0%;
}

.popup-overlay-wrap {
  z-index: 101;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: auto;
}

.popup-wrap {
  z-index: 120;
  grid-column-gap: 0rem;
  grid-row-gap: 2rem;
  background-color: var(--dark);
  text-transform: uppercase;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 3rem;
  grid-auto-columns: 3rem;
  max-width: 46.25rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  display: grid;
  position: relative;
}

.popup-text-wrap {
  padding-left: 2rem;
  padding-right: 2rem;
}

.filter-invert {
  filter: invert();
}

.h-100 {
  height: 100%;
}

.circle-loading {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #0000;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
}

@media screen and (max-width: 991px) {
  .wrapper {
    cursor: auto;
  }

  .controls {
    flex-direction: column;
  }

  .button {
    border-width: 1px;
    padding: 16px;
    font-size: 24px;
  }

  .p-flower {
    font-size: 96px;
  }

  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-huge {
    padding: 5rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .display-flex.dir-vert-tab {
    flex-direction: column;
  }

  .display-flex.align-start-tab {
    align-items: flex-start;
  }

  .display-flex.dir-rev-tab {
    flex-direction: row-reverse;
  }

  .display-flex.dir-rev-vert-tab {
    flex-direction: column-reverse;
  }

  .display-flex.justify-right-tab {
    justify-content: flex-end;
  }

  ._w-100-tab {
    width: 100%;
  }

  .display-none-tab {
    display: none;
  }

  .container-home {
    width: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapper-home {
    padding: 0;
  }

  .padding-footer2, .padding-footer1 {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    letter-spacing: -.84vw;
    font-size: 24.11vw;
  }

  .controls {
    flex-direction: column;
  }

  .button {
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .container {
    width: 100%;
  }

  .section {
    padding: 2rem 3%;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .a-left-phone-l {
    text-align: left;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .display-flex.dir-rev-vert-phone-l {
    flex-direction: column-reverse;
  }

  .display-flex.align-start-phone-l {
    align-items: flex-start;
  }

  .display-flex.dir-vert-phone-l {
    flex-direction: column;
  }

  .display-flex.justify-start-phone-l {
    justify-content: flex-start;
  }

  .a-center-phone-l {
    text-align: center;
  }

  .bg-dots.two, .bg-dots._3, .bg-dots.three, .bg-dots.one {
    background-position: 50%;
    background-size: cover;
  }

  .display-none-phone-l {
    display: none;
  }

  .grid-home-info {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .p-home {
    text-align: left;
    text-indent: 0;
  }

  .grid-home-links {
    flex-direction: column-reverse;
  }

  .btn {
    padding: 1.5rem;
  }

  .button-arrow-outer {
    top: 1.5rem;
    right: 1.5rem;
  }

  .grid-home-footer {
    display: block;
  }

  .padding-footer2 {
    padding: 0 1.5rem 1.5rem;
  }

  .padding-footer1 {
    padding: 1.5rem 1.5rem 0;
  }

  .t-look {
    max-width: none;
  }

  .h1-home {
    top: -.4vw;
    left: -1.433vw;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .t-look {
    max-width: 11.75rem;
  }

  .h1-home {
    left: 0;
  }
}

#w-node-_193c15ac-c238-8eed-36b8-dedfda1a3f34-8afeacac {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_850635c1-bb10-c132-3c35-52e5224d61a9-bf4c9bf6 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_38a046ef-b1cb-8db6-ac33-cd1599495b7a-bf4c9bf6, #w-node-f97cbf02-4653-d9b8-8b8f-9e878556d2f8-bf4c9bf6, #w-node-_37a7a239-bffc-f77b-d789-8ee8c3809f9e-bf4c9bf6, #w-node-bcf98d9b-1e43-291f-115c-991b4f5716a6-bf4c9bf6, #w-node-_5f01dac2-4295-c4f5-85a4-d82b8e01c981-bf4c9bf6, #w-node-_211b9157-898c-80a8-750f-1aacd95ed52c-bf4c9bf6, #w-node-_8e50db45-63e2-4458-e5cd-7ab0b1cbb655-bf4c9bf6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_778bd9d6-598d-1bb0-0e09-b54ce39cd595-bf4c9bf6 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-eef84208-c0fc-84c6-3dac-16061ac9cdd9-bf4c9bf6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_10edb513-be65-2897-7caa-977efbeeacf3-bf4c9bf6 {
  justify-self: start;
}

#w-node-f3dd7ac1-170d-5145-7fe9-5ebe5a555854-bf4c9bf6, #w-node-_959b35d4-451f-3da5-7fa9-9942982e7ba1-bf4c9bf6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1eb36d8b-5f50-ba56-0666-9752ce7aeae2-bf4c9bf6 {
  justify-self: end;
}

#w-node-_9512f1d7-dcd7-3d55-d924-c55c99e741f8-bf4c9bf6 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (max-width: 767px) {
  #w-node-_850635c1-bb10-c132-3c35-52e5224d61a9-bf4c9bf6 {
    grid-column: span 1 / span 1;
  }

  #w-node-_778bd9d6-598d-1bb0-0e09-b54ce39cd595-bf4c9bf6 {
    grid-area: 2 / 1 / 3 / 2;
  }
}


@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}