p {
  border: solid black;
  border-width:1px 2px 1px 2px;
  padding: 20px;
  margin: 0px;
}

p:hover {
  background-color: orange;
}


.flex {
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  margin: 50px;
  width: auto;
}

row {
  display: flex;
  border: solid 2px #4285f4;
  margin: auto;
  margin-bottom: 20px;
}

.box {
  width:40px;
  height:40px;
  margin:10px;
  background-color: #4285f4;
}

.second {
  background: #ff6347;
}

.second > .box {
  background-color: purple;
}
